.shop_area{
    width: 100%;
    height: 550px;
    /* border: 2px dotted lightblue; */
    margin-top: 150px;
}
/* //////////////////////////////////MOBILE FILTER AREA/////////////////////////////////  */
#mobile_filter{
    height: 75px;
    width: 100%;
    border-top: 1px solid #FFDAB9; 
    border-bottom: 1px solid #FFDAB9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
#mobile_filter div p{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    height: 40px;
    padding-top: 5px;
}
#mobile_filter div select{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
/*////////////////////////////////// PRODUCT AREA ///////////////////////////////////////  */
.product{
    height: 250px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
#product1{
    background: url(https://img1.etsystatic.com/110/1/12803061/il_340x270.1051417699_raai.jpg) center no-repeat;
    background-size: cover;
}
#product2{
    background: url(https://ae01.alicdn.com/kf/HTB1NGu0NVXXXXb.XVXXq6xXFXXX3/Sea-Turtle-Watercolor-font-b-Art-b-font-Print-Home-Decor-Marine-font-b-Animals-b.jpg) center no-repeat;
    background-size: cover;
}
#product3{
    background: url(https://ctl.s6img.com/society6/img/QayJERhyocmxd7vsukZC78nSjug/h_550,w_550/prints/~artwork/s6-0071/a/28912150_11227258/~~/green-paddle-cactus-ii-prints.jpg) center no-repeat;
    background-size: cover;
}
#product4{
    background: url(https://ctl.s6img.com/society6/img/ttHqWUDPItrFooLjEFJfrGPuV1g/h_550,w_550/prints/~artwork/s6-0045/a/20051706_4146805/~~/little-deer-8bu-prints.jpg) center no-repeat;
    background-size: cover;
}