.landing{
    width: 100%;
    /* background: #F2E4CA;  */
    position: relative;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    top: 500px;
    text-align: center;
    padding-top: 25px;
}
#splash1{
    background: url(https://s-media-cache-ak0.pinimg.com/736x/02/d5/15/02d5153…--doodle-quotes-text-quotes.jpg) center no-repeat;
    background-size: cover;
    height: 80px;
    width: 80px;
    opacity: 0.6;
    position: absolute;
    top: 50px;
    left: 20px;
}
#splash2{
    background: url(https://s-media-cache-ak0.pinimg.com/236x/42/2b/e4/422be49c5758aaab68b4b65e0552b78e.jpg) center no-repeat;
    background-size: cover;
    height: 80px;
    width: 80px;
    opacity: 0.5;
    position: absolute;
    bottom: 50px;
    right: 50px;
}
.landing h3{
    font-size: 40px;
    line-height: 48px;
    font-family: 'Amatic SC', cursive;
    position: absolute;
    top: calc(50% - 96px);
    width: 100%;
}