.paint{
    height: 300px;
    width: 100%;
    /* border: 1px solid #F2E4CA;  */
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 105px;
}
.paint ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.paint ul li{
    border: 1px solid #F2E4CA;
    height: 250px;
    width: 250px;
}
#img1{
    background: url(http://render.fineartamerica.com/images/images-print-search/images/artworkimages/medium/1/watercolor-rhino-pati-photography.jpg) center no-repeat;
    background-size: cover;
    height: 175px;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
#img2{
    background: url(https://s-media-cache-ak0.pinimg.com/236x/6a/c9/ed/6ac9ed73a8ba98c3ba88653af1adf5e0--painting-trees-tree-paintings.jpg) center no-repeat;
    background-size: cover;
    height: 175px;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
#img3{
    background: url(https://s-media-cache-ak0.pinimg.com/originals/e2/65/0f/e2650fc34fa6681d8b12adad6d62e70e.jpg) center no-repeat;
    background-size: cover;
    height: 175px;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
li #price{
    font-size: 35px;
    font-family: 'Amatic SC', cursive;
    text-align: right;
    margin: 10px 10px 0 0;
    color: #394A46;
}

li p:hover{
    color: #394A46;
    cursor: pointer;
}
li #desc{
    font-size: 35px;
    font-family: 'Amatic SC', cursive;
    text-align: left;
    margin: -35px 0 0 10px;
    font-weight: bold;
    color: #394A46;
}