.paint{
    height: 300px;
    width: 100%;
    /* border: 1px solid #F2E4CA;  */
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 105px;
}
.paint ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.paint ul li{
    border: 1px solid #F2E4CA;
    height: 250px;
    width: 250px;
}
#img1{
    background: url(http://render.fineartamerica.com/images/images-print-search/images/artworkimages/medium/1/watercolor-rhino-pati-photography.jpg) center no-repeat;
    background-size: cover;
    height: 175px;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
li p{
    font-size: 15px;
}