.flowers{
    height: 400px;
    width: 100%;
    background: url(https://img1.etsystatic.com/110/1/12803061/il_340x270.1051417699_raai.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    top: 625px;
}
#flower_desktop{
    display: none;
}
#gif1{
    display: none;
}
#flower_cover{
    height: 100%;
    width: 100%;
    background: white;
    opacity: 0.4;
    position: relative;
}
#shop_now{
    height: 50px;
    width: 150px;
    border: 1px solid black;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 75px);
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}
#shop_now p{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: bold;
}
#shop_now:hover{
    background: white;
    cursor: pointer;
}
#animal_desktop{
    display: none;
    background: url(https://ae01.alicdn.com/kf/HTB1NGu0NVXXXXb.XVXXq6xXFXXX3/Sea-Turtle-Watercolor-font-b-Art-b-font-Print-Home-Decor-Marine-font-b-Animals-b.jpg) center no-repeat;
    background-size: cover;
    height: 350px;
    width: 378px;
    position: absolute;
    bottom: 0;
    left: 0;
}
#gif2{
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 150px;
}
#shop_desktop{
    display: none;
}

@media(min-width: 760px){
    .flowers{
        background: white;
        /* border: 2px solid black;  */
        height: 504px;
        width: 760px;
        margin-left: auto;
        margin-right: auto;
        top: 575px;
    }
    #flower_cover{
        display: none;
    }
    #shop_desktop{
        display: block;
        height: 35px;
        width: 100px;
        text-align: center;
        position:absolute;
        right: 132px;
        padding-top: 5px;
        bottom: 157px;
        border: 1px solid black;
    }
    #shop_desktop p{
        font-family: 'Amatic SC', cursive;
        font-size: 25px;
        font-weight: bold;
    }
    #shop_desktop:hover{
        background: white;
        cursor: pointer;
    }
    #shop_desktop2{
        display: block;
        height: 35px;
        width: 100px;
        text-align: center;
        position:absolute;
        left: 139px;
        padding-top: 5px;
        bottom: 4px;
        border: 1px solid black;
    }
    #shop_desktop2 p{
        font-family: 'Amatic SC', cursive;
        font-size: 25px;
        font-weight: bold;
    }
    #shop_desktop2:hover{
        background: white;
        cursor: pointer;
    }
    #gif1{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 150px;
    }
    #flower_desktop{
        display: block;
        background: url(https://img1.etsystatic.com/110/1/12803061/il_340x270.1051417699_raai.jpg) center no-repeat;
        background-size: cover;
        height: 350px;
        width: 378px;
        position: absolute;
        top: 0;
        right: 0;
    }
    #shop_now{
        display: none;
    }
    #animal_desktop{
        display: block;
    }
    #gif2{
        display: block;
    }
}