.header{
    width: 100%;
    /* background: #F2E4CA; */
    /* background: #F9F2E5; */
    height: 75px;
}
#mobile_header{
    width: 100%;
    /* border: 2px solid black; */
    background: url(http://1.bp.blogspot.com/-Nonbjwv0z8U/Vqks5Nj8WQI/AAAAAAAAD-s/BQFIFOHEF50/s1600/watercolor_texture__16_by_cgarofani-d5bwklw.jpg) center no-repeat;
    background-size: cover; 
    height: 600px;
}
.quote_holder{
    padding: 0;
    margin: 0;
    height: 185px;
    width: 95%;
     /* border: 1px solid;  */
    position: absolute;
    top: calc(50% - 130.5px);
    left: 5%;
    line-height: 70px;
}
#quote{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: -50px;
    left: 0;
}
#author{
    font-size: 30px;
    font-family: 'Homemade Apple', cursive;
    position: absolute;
    top: 195px;
    right: 10px;
}
@media(min-width: 712px){
    .quote_holder{
        width: 550px;
        top: calc(50% - 82.5px);
        left: calc(50% - 250px);
    }
    #quote{
        font-size: 38px;
        line-height: 60px;
    }
    #author{
        top: 120px;
    }
}
.ham{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black; 
    padding-top: 13.2px;
    position: absolute;
    left: 20px;
    top: 36px;
    cursor: pointer;
    transition: transform 1s;
    z-index: 9;
    
}
.ham:hover{
     /* animation: rotate 2s;*/
     transform: rotate(225deg);
}
.ham div{
    height: 4px;
    width: 30px;
    border-radius: 3px;
    background: black;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 5px;
}
.header_logo{
    font-family: 'Homemade Apple', cursive;
    font-size: 60px;
    position: absolute;
    width: 250px;
    /* border: 2px dotted black; */
    text-align: center;
    right: calc(50% - 125px);
    z-index: 10;
    top: 28px;
    color: black;
    font-weight: bold;
}
#cart_items{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black; 
    padding-top: 13.2px;
    position: absolute;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    vertical-align: middle;
    font-size: 36px;
    font-weight: bold;
    line-height: 21px;
    right: 20px;
    top: 36px;
    cursor: pointer;
    transition: transform 1s;
    
}
#mobile_menu{
    /* height: 100vh; */
    width: 100%;
    /* border: 1px solid #F3AE0B; */
    /* text-align: center; */
    background: #FAF4E7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 150px;
    position: relative;
    z-index: 8;
    display: none;
}
#mobile_menu div{
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    margin-right: auto;
    /* display: block; */
    font-size: 40px;
    height: 86px;
    width: 100%;
    color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
     /* border: 2px solid black;  */
}
#mobile_menu div:hover{
    background: #F3AE0B;
    cursor: pointer;
    color: white;
}
#socials{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 80px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#socials img{
    height: 50px;
    width: 50px;
}
#socials #img{
    margin-top: 2px;
    height: 45px;
    width: 45px;
}

/* DESKTOP  */
#desktop_header{
    width: 100%;
    /* border: 2px solid black; */
    background: url(http://1.bp.blogspot.com/-Nonbjwv0z8U/Vqks5Nj8WQI/AAAAAAAAD-s/BQFIFOHEF50/s1600/watercolor_texture__16_by_cgarofani-d5bwklw.jpg) center no-repeat;
    background-size: cover; 
    height: 600px;
    display: none;
    /* background-position-y: -150px; */
}
#desktop_menu{
    height: 80px;
    width: 85%;
    /* border: 2px solid black; */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 30px;
}
#desktop_menu ul{ 
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 80px;
    width: 40%;
    /* border: 2px solid black; */
}
#desktop_menu #first_ul{
    position: absolute;
    left: 0;
    bottom: 0;
}
#desktop_menu ul li{
    margin-top: 52px;
    /* font-family: 'Montserrat', sans-serif;  */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Homemade Apple', cursive;
    font-family: 'Grand Hotel', cursive; */
    font-size: 12px;
    font-weight: bold;
}
#desktop_menu ul li:hover{
    cursor: pointer;
    border-bottom: 2px solid #C4FEF6;
}
#desktop_menu #second_ul li div{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: white;
    /* font-family: 'Montserrat', sans-serif; */
    background: black;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    position: absolute;
    right: 30px;
    top: 41px;
}
@media(max-width: 1357px){
    #desktop_menu #second_ul li div{
        display: none;
    }
}
@media(min-width: 720px){
    #mobile_header{
        display: none;
    }
    #desktop_header{
        display: block;
    }
    .header_logo{
        font-size: 55px;
        position: absolute;
        right: calc(50% - 132px);
        top: 30px;
    }
    #water_color_bg{
        left: calc(50% - 75px);
    }
    #desktop_menu{
        width: 100%;
    }
}
