.header{
    width: 100%;
    /* background: #F2E4CA; */
    /* background: #F9F2E5; */
    height: 75px;
}
#mobile_header{
    width: 100%;
     /* border-bottom: 0.5px solid #394A46;  */
    height: 75px;
}
.ham{
    height: 50px;
    width: 50px;
    border-radius: 50%;
     border: 1px solid #394A46; 
    padding-top: 13.2px;
    position: absolute;
    left: 20px;
    top: 22px;
    cursor: pointer;
    transition: transform 1s;
    
}
.ham:hover{
     /* animation: rotate 2s;*/
     transform: rotate(225deg);
}
.ham div{
    height: 4px;
    width: 30px;
    border-radius: 3px;
    background: #394A46;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 5px;
}
.header_logo{
    font-family: 'Miss Fajardose', cursive;
    /* font-family: 'Sacramento', cursive; */
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Satisfy', cursive; */
    /* font-family: 'Amatic SC', cursive; */
    /* font-weight: bold; */
    font-size: 76px;
    position: absolute;
    right: 25px;
    top: 10px;
    color: #394A46;
}
#mobile_menu{
    height: 150px;
    width: 130px;
    border: 1px solid #F3AE0B;
    /* text-align: center; */
    background: #FAF4E7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 6px;
    position: absolute;
    top: 66px;
    left: 60px;
    display: none;
}
#mobile_menu div{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    height: 45px;
    width: 130px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    color: #394A46;
}
#mobile_menu div:hover{
    background: #F3AE0B;
    cursor: pointer;
    color: white;
}
@keyframes rotate{
    from {transition: rotate(0deg)}
    to {transform:rotate(90deg)}
}
#desktop_header{
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #F3AE0B;
    display: none;
}
#desktop_control{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 650px;
    height: 70px;
    /* border: 2px dotted black; */
}
.desktop_menu{
    height: 75px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 16px;
    position: absolute;
    top: 16px;
    left: 20px
}
.desktop_menu div{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    color: #394A46;
}
.desktop_menu div:hover{
    cursor: pointer;
    color: #F3AE0B
}
#categories_holder{
    height: 40px;
    width: 100%;
    background: #F3AE0B;
}
#categories{
    height: 40px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5px;
    background: #F3AE0B;
}
#categories div{
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    color: white;
}
#categories div:hover{
    color: #394A46;
    cursor: pointer;
}
#painting_drop{
    height: 70px;
    width: 100%;
    background: #FAF4E7;
}
#painting_drop ul{
    border: 2px dotted black;
    height: 70px;
    width: 80px;
    font-size: 25px;
    color: #394A46;
}
li{
    font-family: 'Amatic SC', cursive;
}
@media(min-width: 650px){
    #mobile_header{
        display: none;
    }
    #desktop_header{
        display: block;
    }
}