.footer{
    height: 400px;
    width: 100%;
    background: #F3F2F2;
    position: relative;
    top: 630px;
}
#splatters{
    background: url(https://t3.ftcdn.net/jpg/01/28/01/26/240_F_128012611_GOILXu0VGAKODLrc4C8URJGE70hNsCIy.jpg) center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0.1;
}